<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <!-- for test -->
      <img src="http://placehold.it/120x60&text=image1">
    </div>

    <div class="card-content">
      <span class="card-title">
        <%= article.title %>
      </span>
    </div>

    <div class="card-action">
      <%= link_to "Read this article", article %>
    </div>
  </div>
</div>
