<% provide(:title, 'Articles') %>
<h1>Articles</h1>

<%= will_paginate @articles, renderer: MaterializeRenderer %>

<% @articles.each_slice(2) do |articles| %>
  <div class="row">
    <%= render articles, mcol: 'm6' %>
  </div>
<% end %>

<%= will_paginate @articles, renderer: MaterializeRenderer %>
