<% provide(:title, "New Article") %>
<% provide(:button_text, "Create") %>
<h1>New Article</h1>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#write">Write</a></li>
      <li class="tab col s3"><a href="#preview" id="preview-tab">Preview</a></li>
    </ul>
  </div>

  <div id="write" class="col s12">
    <%= render 'form' %>
  </div>

  <div id="preview" class="preview_area col s12">
  </div>
</div>
