<% provide(:title, @article.title) %>

<h2>
  <%= @article.title %>
</h2>

<div class="clear"></div>

<div class="content initialize">
  <%= raw Kramdown::Document.new(@article.content, input: "GFM").to_html %>
</div>

<div class="clear"></div>
