<div class="col s12 m6">
  <div class="card">
    <div class="card-image">
      <% if current_user.try(:admin?) && !current_user?(user) %>
        <%= link_to user, method: :delete,
            class: "btn-floating halfway-fab waves-effect waves-light red",
            data: { confirm: "You sure?" } do %>
          <i class="material-icons">delete</i>
        <% end %>
      <% end %>
    </div>
    <div class="card-content">
      <span class="title"><%= link_to user.display_name, user %></span>
    </div>
  </div>
</div>
  <%= image_tag user.icon.url, class: 'circle' if user.icon.url %>
