<li class="collection-item avatar">
  <%= image_tag user.icon.url, class: 'circle' if user.icon.url %>
  <span class="title"><h5><%= link_to user.display_name, user %></h5></span>
  <% if current_user.try(:admin?) && !current_user?(user) %>
    <%= link_to user, method: :delete,
        class: "secondary-content btn-floating waves-effect waves-light red",
        data: { confirm: "You sure?" } do %>
      <i class="material-icons">delete</i>
    <% end %>
  <% end %>
</li>
