<% provide(:title, "Edit user") %>
<% provide(:button_text, "SAVE") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#userinfo">Infomation</a></li>
      <li class="tab col s3"><a href="#usersetting">Settings</a></li>
    </ul>
  </div>
  <div id="userinfo" class="col s12"> <%= render 'user_infos/form' %> </div>
  <div id="usersetting" class="col s12"> <%= render 'form' %> </div>
</div>
