<% provide(:title, "Profile") %>

<div class="row">
  <div class="col s4">
    <%= image_tag @user.icon, class: 'circle col s12' %>
    <h5><%= @user.display_name %></h5>
    <p>
      <%= @user.user_info.description %>
    </p>
  </div>

  <div class="col s8">
    <h5>Articles</h5>
    <%= render @articles, mcol: 'm12', image: false %>
    <!-- link to articles have this category -->
  </div>
</div>
