<div class="col s12 m6">
  <div class="card">
    <div class="card-image">
      <%= image_tag category.image.thumb_card, class: 'responsive-img' %>
    </div>

    <div class="card-content">
      <span class="card-title">
          <%= category.name %>
      </span>
    </div>

    <div class="card-action">
      <%= link_to "Details of this category", category %>
    </div>
  </div>
</div>
