<div class="thumb-box col s6 m3">
  <img id="images/<%= image.id %>" class="thumb responsive-img" src="<%= image.image.url %>" />
  <i class="small material-icons circle scale-transition scale-out">check</i>
</div>
