<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Mutter</h5>
        <p class="grey-text text-lighten-4">
          Keisuke Emi
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://github.com/emi0910" target="_brank">
              <span><%= image_tag 'github-icon.png', height: 20, width: 20 %></span>
              <span>emi0910</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>
